* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(226, 249, 231);
}

/* Top bar */
.menu-bar {
  display: flex;
  background: rgb(78, 154, 75);
  min-height: 30px;
  padding: 0;
  align-items: stretch;
}


/* Dropdown Menus */
.menu {
  position: relative;
  width: 100px;
  display: flex;
}

.menu button {
  background: none;
  border: none;
  color: black;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  height: 100%;
}

.menu:hover button {
  background: rgb(2, 178, 46);
  outline: none;
}

.menuedit:focus-within button {
  background: rgb(2, 178, 46);
  outline: none;
}

.menufile button {
  font-weight: bold;
}

/* Dropdown content */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 0;
  background: rgb(2, 178, 46);
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.dropdown a {
  color: purple;
  text-decoration: none;
  padding: 8px 12px;
  font-size: 14px;
}

.dropdown a:hover,
.dropdown a:focus {
  background: #13e733;
}

.menu:hover .dropdown {
  display: flex;
}

.menuedit:focus-within .dropdown {
  display: flex;
}

/* Content */
.content {
  padding: 20px;
}

.instructions, .extra-credit {
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-left-style:solid;
  border-left-width:5px;
  border-left-color: rgb(95, 193, 83);
}

.content h3 {
  margin-top: 4px;
}

/* Only for the color of the border */
.extra-credit {
  border-left-color: rgb(245, 245, 110);
}